<footer class="style-footer">
  <section>
    <div class="footer-b">
      <h2 class="title-footer">Nosotros</h2>
      <article>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet optio laudantium, totam nihil animi soluta ut, voluptas voluptatum magni accusantium recusandae quisquam? Cum at culpa praesentium dolorem quod! Culpa, totam?</article>
    </div>
    <div class="footer-b">
      <h2 class="title-footer">Informacion Util</h2>
      <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor quas voluptatibus necessitatibus reiciendis provident quaerat similique inventore facere, itaque aliquam. Atque, quo. Autem asperiores nisi quod, corporis officia quo accusantium.</article>
    </div>
    <div class="footer-b">
      <h2 class="title-footer">Contacto</h2>
      <article class="style-contact">
        <buttom class="style-icon-contact">
        <i class="fab fa-instagram"></i>
        </buttom>
        <buttom class="style-icon-contact">
        <i class="fab fa-facebook-f"></i>
        </buttom>
        <buttom class="style-icon-contact">
          <i class="fab fa-whatsapp"></i>
        </buttom>
        <buttom class="style-icon-contact">
          <i class="fab fa-twitter"></i>
        </buttom>
      </article>
    </div>
  </section>
</footer>