<h1 class="logo">
    <a href="/">
        <img src="/img/PC_Gamer_logo.png" />
    </a>
</h1>
<header class="bg-color-black ">
    <nav class="right-nav">
        <a href="/login" class="style-user">
            <i class="fas fa-user-alt"></i>
        </a>
        <a href="/carrito" class="style-cart">
            <i class="fas fa-shopping-cart"></i>
        </a>
    </nav>
    <section class="style-header">
        <nav class="navbar">
            <nav class="left-nav">
                <ul class="style-left-nav">
                    <li><a href="">Arma tu PC</a></li>
                    <li><a href="">Hardware</a></li>
                    <li><a href="">Periféricos</a></li>
                </ul>
            </nav>
        </nav>
        <div class="pos-search">
            <input type="text" placeholder="Buscar" />
            <button class="style-search">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </section>
</header>