<h1 class="logo">
    <a href="/">
        <img src="/img/PC_Gamer_logo.png" class="max-w-1200" />
    </a>
</h1>
<header class="bg-color-black ">
    <div class="max-w-1200">
        <nav class="right-nav">
            <%= locals && locals.loguser ? user.name :"No logeado" %>
            <% if(locals && locals.loguser){%>
                <form action="/logout" method="GET"><button>
                    Cerrar Sesion
                </button> </form>
            <% } %>
            <% if(locals && locals.loguser){%><a href="/profile" class="style-user">
                <img src="img/profiles-img/<%=user.perfilImage%>" >
            </a>
            <% }else{%>
                <a href="/login" class="style-user">
                    <i class="fas fa-user-alt"></i>
                </a>
            <%} %>
            <a href="/carrito" class="style-cart">
                <i class="fas fa-shopping-cart"></i>
            </a>
        </nav>
        <section class="style-header">
            <nav class="navbar-custom">
                <nav class="left-nav">
                    <ul class="style-left-nav">
                        <li><a href="">Arma tu PC</a></li>
                        <li class="wrap-menu"><a href="">Hardware</a>
                            <ul>
                                <% for(let tax of locals.taxonomy.hardware) { %>
                                <li><a href=""><%= tax %></a></li>
                                <% } %>

                            </ul>
                        </li>
                        <li class="wrap-menu"><a href="">Periféricos</a>
                            <ul>
                                <% for(let tax of locals.taxonomy.peripherals) { %>
                                <li><a href=""><%= tax %></a></li>
                                <% } %>

                            </ul>
                        </li>
                    </ul>
                </nav>
            </nav>
            <div class="pos-search">
                <input type="text" placeholder="Buscar" />
                <button class="style-search">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </section>
    </div>
</header>