<footer class="style-footer ">
    <section class="max-w-1200">
        <div class="footer-b p-5 width33">
            <h2 class="title-footer">Informacion útil</h2>
            <article>Realizá tu compra online y recibila en tu domicilio</article>
            <div>
                <ul class="ul-footer">
                    <li class="listyle-footer">Inicio</li>
                    <li class="listyle-footer">Terminos y condiciones</li>
                    <li class="listyle-footer">Preguntas Frecuentes</li>
                </ul>
            </div>
        </div>
        <div class="footer-b p-5 width33">
            <h2 class="title-footer">Nosotros</h2>
            <article>Nos dedicamos a la venta de computadoras, hardware, y periféricos de grandes marcas como Logitech, Corsair, HyperX, Razer, y Redragon, entre otras. </article>
        </div>
        <div class="footer-b p-5 width33">
            <h2 class="title-footer">Contacto</h2>
            <article class="style-contact">
                <buttom class="style-icon-contact">
                    <i class="fab fa-instagram"></i>
                </buttom>
                <buttom class="style-icon-contact">
                    <i class="fab fa-facebook-f"></i>
                </buttom>
                <buttom class="style-icon-contact">
                    <i class="fab fa-whatsapp"></i>
                </buttom>
                <buttom class="style-icon-contact">
                    <i class="fab fa-twitter"></i>
                </buttom>
            </article>
            <a class="noLinkStyle" href="/products/create">Crear producto</a>
            
        </div>
    </section>
<footer class="style-footer">
  <section class="max-w-1200">
    <div class="footer-b p-5">
      <h2 class="title-footer">Nosotros</h2>
      <article>
        Nos dedicamos a la venta de computadoras, hardware, y periféricos de
        grandes marcas como Logitech, Corsair, HyperX, Razer, y Redragon, entre
        otras.
      </article>
    </div>
    <div class="footer-b p-5">
      <h2 class="title-footer">Informacion útil</h2>
      <article>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor quas
        voluptatibus necessitatibus reiciendis provident quaerat similique
        inventore facere, itaque aliquam. Atque, quo. Autem asperiores nisi
        quod, corporis officia quo accusantium.
      </article>
    </div>
    <div class="footer-b p-5">
      <h2 class="title-footer">Contacto</h2>
      <article class="style-contact">
        <buttom class="style-icon-contact">
          <i class="fab fa-instagram"></i>
        </buttom>
        <buttom class="style-icon-contact">
          <i class="fab fa-facebook-f"></i>
        </buttom>
        <buttom class="style-icon-contact">
          <i class="fab fa-whatsapp"></i>
        </buttom>
        <buttom class="style-icon-contact">
          <i class="fab fa-twitter"></i>
        </buttom>
      </article>
      <a class="noLinkStyle" href="/products/crear">Crear producto</a>
    </div>
  </section>
</footer>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
  crossorigin="anonymous"
></script>
