<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head", {title: "Página principal - PC Gamer"}) %>
</head>
<body>
    <%- include("./partials/header") %>
    <main>
        <div>
            <div>
                <form class="form-crearProducto" action="" method="POST">
                    <h2 class="titulo-micompra">Formulario de creación de productos</h2>
                    <div>
                        <div class="box-subtitulosCrearProd">
                            <label for="name">Nombre del producto:</label>
                            <input class="input-crearProducto" type="text" id="name" name="name" placeholder="Ej: Teclado Mecanico" class="form-input">
                        </div>
                        <div class="box-subtitulosCrearProd">
                            <label for="price">Precio del producto:</label>
                            <input class="input-crearProducto" type="text" id="price" name="price" placeholder="Ej: $10.000" class="form-input">
                        </div>
                        <div class="box-descripcion">
                            <label for="description">Descripción:</label>
                            <textarea name="description" id="description"></textarea>
                        </div>
                        <div class="box-categoria">
                            <label for="category">Categoría:</label>
                            <select name="category" id="category">
                                <option value="">Elegí</option>
                                <option value="Oferta">Ofertas</option>
                                <option value="Art-destacado">Articulos Destacados</option>
                            </select>
                        </div>
                        <div class="box-imagen">
                            <label for="image">Foto de Artículo</label>
                            <input type="file" name="image" accept="image/png,image/jpg">
                        </div>
                        <div class="box-boton-guardarProducto">
                            <button class="boton-crearProducto" type="submit">Crear producto</button>
                        </div>
                    </div>
                </form>
            </div>
    
        </div>  
    </main>
    <footer>
        <%- include("./partials/footer") %>
    </footer>

    
</body>
</html>