<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://kit.fontawesome.com/82eb37eab3.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&family=Titillium+Web&display=swap" rel="stylesheet">
</head>

<body>
  <header class="bg-color-black">
    <section>
      <h1 class="w-50">
        <img src="img/PC_Gamer_logo.png" style="width: 50%" />
      </h1>
      <nav class="navbar">
        <ul>
          <li><a href="">Arma tu PC</a></li>
          <li><a href="">Hardware</a></li>
          <li><a href="">Perifericos</a></li>
        </ul>
      </nav>
      <button class="style-user">
        <i class="fas fa-user-alt"></i>
      </button>
      <button class="style-cart">
        <i class="fas fa-shopping-cart"></i>
      </button>
      <div>
        <input type="text" placeholder="Buscar">
        <button class="style-search">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </section>
  </header>
  <main>
    <h2 class="art-destacados">ARTICULOS DESTACADOS</h2>
    <section>
        <div>
        <article class="producto">
          <img src="/img/mouse.jfif" width="100%">
          <div class="producto-contenido">
            <p>$12.000</p>
            <p class="title">Mouse Logitech GPRO</p>
          </div>
        </article>
        </div>
        <div>
        <article class="producto">
          <img src="/img/placa-video.jfif" width="100%">
          <div class="producto-contenido">
            <p>$400.000</p>
            <p class="title">GeForce RTX 3090</p>
          </div>
        </article>
        </div>
        <div>
        <article class="producto">
          <img src="/img/teclado.jfif" width="100%">
          <div class="producto-contenido">
            <p>$10.000</p>
            <p class="title">Teclado HyperX Alloy fps</p>
          </div>
        </article>
        </div>
    </section>
    <h2 class="ultima-visita-ofertas">OFERTAS</h2>
    <section>
      <div>
        <article class="producto">
          <img src=/img/gabinete-gamer.jfif width="100%">
          <div class="producto-contenido">
          <buttom class="style-arrow-left">
            <i class="fas fa-chevron-left"></i>
          </buttom>
          <buttom class="style-arrow-right">
            <i class="fas fa-chevron-right"></i>
          </buttom>
            <p>$50.000</p>
            <p class="descuentos">30% OFF</p>
            <p class="title">Gabinete gamer Magnum</p>
          </div>
        </article>
      </div>
    </section>
  </main>
  <footer class="style-footer">
    <section>
      <div>
        <h2 class="title-footer">Nosotros</h2>
        <article>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet optio laudantium, totam nihil animi soluta ut, voluptas voluptatum magni accusantium recusandae quisquam? Cum at culpa praesentium dolorem quod! Culpa, totam?</article>
      </div>
      <div>
        <h2 class="title-footer">Informacion Util</h2>
        <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor quas voluptatibus necessitatibus reiciendis provident quaerat similique inventore facere, itaque aliquam. Atque, quo. Autem asperiores nisi quod, corporis officia quo accusantium.</article>
      </div>
      <div>
        <h2 class="title-footer">Contacto</h2>
        <article class="style-contact">
          <buttom class="style-icon-contact">
          <i class="fab fa-instagram"></i>
          </buttom>
          <buttom class="style-icon-contact">
          <i class="fab fa-facebook-f"></i>
          </buttom>
          <buttom class="style-icon-contact">
            <i class="fab fa-whatsapp"></i>
          </buttom>
          <buttom class="style-icon-contact">
            <i class="fab fa-twitter"></i>
          </buttom>
        </article>
      </div>
    </section>
  </footer>
</body>

</html>