<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/loginStyle.css">
    <script src="https://kit.fontawesome.com/82eb37eab3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Titillium+Web&display=swap" rel="stylesheet">

    <title>Document</title>
  </head>
  <body class="body-login">
    <main class="main-login">
      <form class="form-login" action="" method="post">
        <h3 class="titulo-login">Ingresa con tu cuenta:</h3>
        <div class="contenedores-login">
            <label for="email"></label>
            <input class="input-login1" type="text" name="email" id="email" placeholder="example@hotmail.com">
        </div>
        <div class="contenedores-login">
            <label for="contraseña"></label>
            <input class="input-login1" type="text" name="contraseña" id="contraseña" placeholder="contraseña">
        </div>
        <div class="contenedores-login">
            <button class="boton-enviar" type="submit">Login</button>
        </div>
        <div class="contenedor-gg-fb">
        <button class="login-google" type="button" value="text">
          <i class="fab fa-google"></i>
          Ingresa con Google
        </button>
        <button class="login-facebook" type="button" value="text">
          <i class="fab fa-facebook-f"></i>
          Ingresa con Facebook
        </button>
      </div>
    </form>
    </main>
    <footer class="style-footer">
        <div>
          <h2 class="title-footer">Nosotros</h2>
          <article>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet optio laudantium, totam nihil animi soluta ut, voluptas voluptatum magni accusantium recusandae quisquam? Cum at culpa praesentium dolorem quod! Culpa, totam?</article>
        </div>
        <div>
          <h2 class="title-footer">Informacion Util</h2>
          <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor quas voluptatibus necessitatibus reiciendis provident quaerat similique inventore facere, itaque aliquam. Atque, quo. Autem asperiores nisi quod, corporis officia quo accusantium.</article>
        </div>
        <div>
          <h2 class="title-footer">Contacto</h2>
          <article class="style-contact">
            <buttom class="style-icon-contact">
            <i class="fab fa-instagram"></i>
            </buttom>
            <buttom class="style-icon-contact">
            <i class="fab fa-facebook-f"></i>
            </buttom>
            <buttom class="style-icon-contact">
              <i class="fab fa-whatsapp"></i>
            </buttom>
            <buttom class="style-icon-contact">
              <i class="fab fa-twitter"></i>
            </buttom>
          </article>
        </div>
    </footer>
  </body>
</html>
