<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/loginStyle.css">
    <title>Document</title>
  </head>
  <body>
    <main class="main-login">
      <h3 class="titulo-login">Ingresa con tu cuenta</h3>
      <form class="form-login" action="" method="post">
        <div class="contenedores-login">
            <label for="email"></label>
            <input class="input-login1" type="text" name="email" id="email" placeholder="example@hotmail.com">
        </div>
        <div class="contenedores-login">
            <label for="contraseña"></label>
            <input class="input-login1" type="text" name="contraseña" id="contraseña" placeholder="contraseña">
        </div>
        <div class="contenedores-login">
            <button class="boton-enviar" type="submit">Ingresar</button>
        </div>
        <div class="contenedor-gg-fb">
        <button class="login-google" type="button" value="text">
          Ingresa con Google
        </button>
        <button class="login-facebook" type="button" value="text">
          Ingresa con Facebook
        </button>
      </div>
    </form>

    </main>
  </body>
</html>
