  <%- include("./partials/head", {title: "Login - PC Gamer"}) %>
  <body>
  <%- include("./partials/header") %>
    <main class="main-login">
      <form class="form-login" action="" method="post">
        <h3 class="titulo-login">Ingresa con tu cuenta:</h3>
        <div class="contenedores-login">
            <label for="email"></label>
            <input class="input-login1" type="text" name="email" id="email" placeholder="example@hotmail.com">
        </div>
        <div class="contenedores-login">
            <label for="contrase単a"></label>
            <input class="input-login1" type="text" name="contrase単a" id="contrase単a" placeholder="contrase単a">
        </div>
        <div class="contenedores-login">
            <button class="boton-enviar" type="submit">Login</button>
        </div>
        <div class="style-recordar">
          <label>Recordarme</label>
          <input type="checkbox">
        </div>
        <div class="contenedor-gg-fb">
        <button class="login-google" type="button" value="text">
          <i class="fab fa-google"></i>
          Ingresa con Google
        </button>
        <button class="login-facebook" type="button" value="text">
          <i class="fab fa-facebook-f"></i>
          Ingresa con Facebook
        </button>
      </div>
      <div class= "style-registrate">
        <a href=/registro> No tenes cuenta? Registrate</a>
      </div>
    </form>
    </main>
    <%- include("./partials/footer") %>
  </body>
</html>
