<%- include("./partials/head", {title: "Carrito - PC Gamer"}) %>
  <body>
  <%- include("./partials/header") %>
    <main>
      <h2 class="titulo-micompra">
        <i class="fas fa-shopping-cart"></i>
        Mi Compra
      </h2>
      <h2 class="subtitulo-micompra">
        <i class="fas fa-check"></i>
        Confirmar Datos y Pagar
      </h2>
    </main>
    <%- include("./partials/footer") %>
  </body>
