<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/82eb37eab3.js"
      crossorigin="anonymous"
    ></script>
    <!-- https://fontawesome.com/v5.15/icons?d=gallery&p=2&m=free -->
    <link rel="stylesheet" href="css/productCart.css">
    <title>Document</title>
  </head>
  <body>
    <main>
      <h2>
        <i class="fas fa-shopping-cart"></i>
        Carrito
      </h2>

      <div class="buttons">
        <h3 class="button">
          <i class="fas fa-clipboard-list"></i>
          Productos
        </h3>

        <h3 class="button">
          <i class="fas fa-truck"></i>
          Entrega
        </h3>

        <h3 class="button">
          <i class="fas fa-dollar-sign"></i>
          Forma de pago
        </h3>

        <h3 class="button">
          <i class="fas fa-clipboard-check"></i>
          Resumen
        </h3>

        <h4 class="button">anterior</h4>
        <h4 class="button">siguiente</h4>
        
      </div>

      <article class="product">
        <img src="img/tpiC.jpg" alt="" />
      </article>

      <article class="product">
        <img src="img/imagenC.jpg" alt="" />
      </article>
      
    </main>
  </body>
</html>