<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/productDetail.css">
    <script src="https://kit.fontawesome.com/82eb37eab3.js" crossorigin="anonymous"></script>
    
    <title>Document</title>
</head>

<body>
    <main>
        <!-- IMAGENES PRODUCTO-->
        <section class="section1">
            <img class="imagen-principal" src="/img/imagenPrincipal.jpg" alt="imagenPrincipal">
            <div class="contenedor-imagenesB">
                <img class="imagenB" src="/img/imagenB.jpg" alt="otraImagen">
                <img class="imagenB" src="/img/imagenC.jpg" alt="otraImagen">
                <img class="imagenB" src="/img/imagenD.jpg" alt="otraImagen">
            </div>
        </section>
        <!-- INFO PRODUCTO-->
        <section class="section2">
            <h2 class="nombre-producto">Placa de Video MSI GeForce GTX 1660 Ti 6GB GDDR6 Ventus XS OC</h2>
            <div class="contenedor-info-producto">
                <h3 class="subtitulo-caracteristicas">CARACTERISTICAS</h3>
                <li>asd</li>
                <li></li>
                <li></li>
                <li></li>
                <div class="contenedor-txt-verde">
                    <p><i class="fas fa-shield-alt"></i> Garantía: 36 meses</p>
                    <p><i class="fas fa-check"></i> Stock Disponible</p>
                    <p><i class="fas fa-truck-moving"></i> Envíos a todo el país</p>
                </div>
                <button class="boton-compra" type="button" value="text">COMPRAR</button>
                <button class="boton-carrito" type="button" value="text">Agregar al Carrito</button>
            </div>
        </section>
        <!-- TAMBIEN PUEDE INTERESARTE-->
        <div class="section3">
            <h2 class="subtitulo-intereses">También puede interesarte:</h2>
            <section class="productos-de-interes">
                <article class="box-articulo-interes">
                    <img class="img-producto-interes" src="/img/tpiA.jpg" alt="puede interesarte">
                    <div class="contenedor-infoproducto-interes">
                        <p class="precio">$40.000</p>
                        <p class="nombre-producto-interes">Grabadora de DVD Portátil ASUS SDRW-08D2S-U Lite</p>
                    </div>
                </article>
                <article class="box-articulo-interes">
                    <img class="img-producto-interes" src="/img/tpiB.jpg" alt="puede interesarte">
                    <div class="contenedor-infoproducto-interes">
                        <p class="precio">$40.000</p>
                        <p class="nombre-producto-interes">Grabadora de DVD Portátil ASUS SDRW-08D2S-U Lite</p>
                    </div>
                </article>
                <article class="box-articulo-interes">
                    <img class="img-producto-interes" src="/img/tpiC.jpg" alt="puede interesarte">
                    <div class="contenedor-infoproducto-interes">
                        <p class="precio">$40.000</p>
                        <p class="nombre-producto-interes">Grabadora de DVD Portátil ASUS SDRW-08D2S-U Lite</p>
                    </div>
                </article>
                <article class="box-articulo-interes">
                    <img class="img-producto-interes" src="/img/tpiD.jpg" alt="puede interesarte">
                    <div class="contenedor-infoproducto-interes">
                        <p class="precio">$40.000</p>
                        <p class="nombre-producto-interes">Grabadora de DVD Portátil ASUS SDRW-08D2S-U Lite</p>
                    </div>
                </article>
            </section>
        </div>
    </main>
</body>

</html>