  <%- include("./partials/head", {title: "Carrito - PC Gamer"}) %>
  <body>
  <%- include("./partials/header") %>
    <main>
      <h2 class="titulo-micompra">
        <i class="fas fa-shopping-cart"></i>
        Mi Compra
      </h2>
      <h2 class="subtitulo-micompra">
        <i class="fas fa-truck"></i>
        Mi Entrega
      </h2>
      <div class="box-label-entrega">
      <label for="label-Pickup">
        <input type="radio" name="label-envio" id="label-Pickup">PickUp Point
      </label>
      <p>(Retiro por Av. Independencia 3485)</p>
      </div>
      <div class="box-label-entrega">
      <label for="label-envio">
        <input type="radio" name="label-envio" id="label-envio">Envío a domicilio
      </label>
      <p>(Válido para todo el país)</p>
      <span class="">Calcular envío</span>
      </div>
      <div class="box-button-entrega">
      <button type="submit" name="submit-anterior" id="submit-anterior">ANTERIOR</button>
      <button type="submit" name="submit-siguiente" id="submit-siguiente">SIGUIENTE</button>
      </div>
    </main>
    <%- include("./partials/footer") %>
  </body>
