  <%- include("./partials/head", {title: "Carrito - PC Gamer"}) %>
  <body>
  <%- include("./partials/header") %>
    <main>
      <h2 class="titulo-micompra">
        <i class="fas fa-shopping-cart"></i>
        Mi Compra
      </h2>
      <h2 class="subtitulo-micompra">
        <i class="fas fa-dollar-sign"></i>
        Mi Pago
      </h2>
      <div>
      <div>
      <div>
        <input type="radio" name="label-pago" id="label-pago">
        <label for="label-efectivo">Efectivo</label>
      </div>
      <div>
        <input type="radio" name="label-pago" id="label-transferencia">
        <label for="label-transferencia">Transferencia Bancaria</label>
      </div>
      <div>
        <input type="radio" name="label-pago" id="label-tarjeta">
        <label for="label-tarjeta">Tarjeta de crédito o débito</label>
      </div>
    </div>
      <div>
      <button type="submit" name="submit-anterior" id="submit-anterior">ANTERIOR</button>
      <button type="submit" name="submit-siguiente" id="submit-siguiente">SIGUIENTE</button>
    </div>
  </div>
    </main>
    <%- include("./partials/footer") %>
  </body>
