  <%- include("./partials/head", {title: "Carrito - PC Gamer"}) %>
  <body>
  <%- include("./partials/header") %>
    <main>
      <h2 class="titulo-micompra">
        <i class="fas fa-shopping-cart"></i>
        Mi Compra
      </h2>
      <table class="tabla-misproductos">
        <tr class="tr-header1">
          <th class="th-producto1">Producto</th>
          <th>Cantidad</th>
          <th class="th-precio">Precio</th>
          <th>Total $</th>
          <th></th>
        </tr>
        <tr>
          <td class="td-nombreproducto">Gabinete gamer Magnum</td>
          <td class="td-cantidad"><input type="number" name="cantidad" id="id-cantidad-prod" min="1" max="300"><button class="btn-minus" id="minus-1"><i class="fas fa-minus"></i></button>
            <button class="btn-plus" id="plus-1"><i class="fas fa-plus"></i></button></td>
          <td class="td-precio">$70000</td>
          <td>$70000</td>
          <td><i id="tacho-tabla" class="fas fa-trash"></i></td>
        </tr>
        <tr>
          <td class="td-nombreproducto">Gabinete gamer Magnum</td>
          <td class="td-cantidad"><input type="number" name="cantidad" id="id-cantidad-prod" min="1" max="300"><button class="btn-minus" id="minus-1"><i class="fas fa-minus"></i></button>
            <button class="btn-plus" id="plus-1"><i class="fas fa-plus"></i></button></td>
          <td class="td-precio">$70000</td>
          <td>$70000</td>
          <td><i id="tacho-tabla" class="fas fa-trash"></i></td>
        </tr>
        <tr>
          <td class="td-nombreproducto">Gabinete gamer Magnum</td>
          <td class="td-cantidad"><input type="number" name="cantidad" id="id-cantidad-prod" min="1" max="300"><button class="btn-minus" id="minus-1"><i class="fas fa-minus"></i></button>
            <button class="btn-plus" id="plus-1"><i class="fas fa-plus"></i></button></td>
          <td class="td-precio">$70000</td>
          <td>$70000</td>
          <td><i id="tacho-tabla" class="fas fa-trash"></i></td>
        </tr>
      </table>
      <h3 class="titulo-total-right">Total $210000</h3>
      <button type="submit" name="submit-siguiente" id="submit-siguiente">SIGUIENTE</button>
    </main>
    <%- include("./partials/footer") %>
  </body>
</html>