<%- include("./partials/head", {title: "Registro - PC Gamer"}) %>

<body>
    <%- include("./partials/header") %>
    <main class="main-register">
        <h1>Pagina de perfil</h1>
    </main>
    <%- include("./partials/footer") %>
    <script src="/scripts/imgInputPreview.js"></script>
</body>

</html>