<%- include("./partials/head", {title: "Registro - PC Gamer"}) %>
  <body>
  <%- include("./partials/header") %>
    <main class="main-register">
        <form class="form-register" action="" method="post">
          <h3 class="titulo-register">Registrarse</h3>
            <div class="contenedores-register">
                <label for="nombre"></label>
                <input class="input-register1" type="text" name="nombre" id="nombre" placeholder="nombre y apellido">
            </div>
            <div class="contenedores-register">
                <label for="email-register"></label>
                <input class="input-register1" type="text" name="email-register" id="email-register" placeholder="example@hotmail.com">
            </div>
            <div class="contenedores-register">
                <label for="contraseña-register"></label>
                <input class="input-register1" type="text" name="contraseña-register" id="contraseña-register" placeholder="contraseña">
            </div>
            <div class="contenedores-register">
                <label for="confirmar-contraseña"></label>
                <input class="input-register1" type="text" name="confirmar-contraseña" id="confirmar-contraseña" placeholder="confirmar contraseña">
            </div>
            <div class="contenedores-register">
                <button class="boton-register" type="submit">Registrarse</button>
            </div>
    </main>
    <%- include("./partials/footer") %>
</body>
</html>