<%- include("./partials/head", {title: "Registro - PC Gamer"}) %>
  <body>
  <%- include("./partials/header") %>
    <main class="main-register">
        <form class="form-register" action="/" method="POST" enctype="multipart/form-data">
          <h3 class="titulo-register">Registrate</h3>
            <div class="contenedores-register">
                <label for="nombre"></label>
                <input class="input-register1" type="text" name="name" id="name" placeholder="Nombre y Apellido">
            </div>
            <div class="contenedores-register">
                <label for="email-register"></label>
                <input class="input-register1" type="text" name="email" id="email" placeholder="Example@hotmail.com">
            </div>
            <div class="contenedores-register">
                <label for="contrase単a-register"></label>
                <input class="input-register1" type="text" name="password" id="password" placeholder="Contrase単a">
            </div>
            <div class="contenedores-register">
                <label for="confirmar-contrase単a"></label>
                <input class="input-register1" type="text" name="repassword" id="repassword" placeholder="Confirmar contrase単a">
            </div>
            <div>
                <label for="perfilImage">Foto de Perfil</label>
                <input type="file" name="perfilImage" accept="image/png,image/jpg" />
            </div>
            <div class="contenedores-register">
                <button class="boton-register" type="submit">Registrarse</button>
            </div>
    </main>
    <%- include("./partials/footer") %>
</body>
</html>