* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.body-login {
  background-color:rgba(244, 244, 245, 0.425);
}
main {
  font-size: 15px;
}
.main-login {
  width: 95%;
  margin: 15px auto;
}
.form-login {
  margin: 5px;
  text-align: center;
  padding: 10px;
  background-color:rgb(75, 75, 75);
  box-shadow: 0 0px 20px rgb(19, 18, 18);
  border-radius: 3px;
}
.titulo-login {
  text-align: center;
  color: white;
  margin: 10px;
  padding-bottom: 15px;
  border-bottom: solid 2px rgb(226, 226, 226);
  font-size: 20px;
}
.contenedores-login {
  margin: 15px 0;
}
.input-login1 {
  padding: 20px;
  height: 30px;
  width: 80%;
  max-width: 400px;
  border: none;
  border-radius: 3px;
  color: white;
  background-color: rgb(39, 39, 39);
}
.boton-enviar {
  height: 37px;
  width: 80%;
  min-width: 125px;
  max-width: 400px;
  padding: 5px;
  border: none;
  border-radius: 3px;
  background-color: rgb(31, 134, 182);
  color: white;
  font-weight: bolder;
}
.login-google {
  width: 80%;
  height: 35px;
  padding: 5px;
  border: none;
  border-radius: 3px;
  background-color:  #db4a39;
  color: white;
  font-weight: bolder;
  margin-bottom: 2.5px;
  max-width: 375px;
}
.login-facebook {
  width: 80%;
  height: 35px;
  padding: 5px;
  border: none;
  border-radius: 3px;
  background-color: #3b5998;
  color: white;
  font-weight: bolder;
  max-width: 375px;
}
.contenedor-gg-fb {
  margin: 14px 0;
  padding-bottom: 15px;
  border-bottom: solid 2px rgb(226, 226, 226);
}
.style-registrate a{
  color: white
}
.width {
  width: 300px;
}

