* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main-login {
  width: 90%;
  margin: 0 auto;
}
.form-login {
  text-align: center;
  padding: 10px;
  background-color:rgb(226, 226, 226);
}
.titulo-login {
  text-align: center;
  margin: 10px;
}
.contenedores-login {
  margin: 15px 0;
}
.input-login1 {
  padding: 20px;
  height: 30px;
  width: 65%;
  text-align: center;
  border: none;
  border-radius: 5px;
}
.boton-enviar {
  margin: 15px 0;
  height: 37px;
  width: 35%;
  min-width: 125px;
  max-width: 225px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: #039fd3;
  color: white;
  font-weight: bolder;
  
}
.login-google {
  position: relative;
  height: 35px;
  right: 10px;
  padding: 5px;
  border: none;
  border-radius: 3px;
  background-color:  #db4a39;
  color: white;
  font-weight: bolder;
}
.login-facebook {
  position: relative;
  left: 10px;
  height: 35px;
  padding: 5px;
  border: none;
  border-radius: 3px;
  background-color: #3b5998;
  color: white;
  font-weight: bolder;
}
.contenedor-gg-fb {
  margin: 14px 0;
}

