
.titulo-micompra {
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-size: 1.5rem;
  border-bottom: solid 2px rgb(226, 226, 226);
}
.tabla-misproductos {
  width: 100%;
  margin: auto;
  font-size: 16px;
  padding-bottom: 10px;
  
}
th, td {
  text-align: left;
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 0.3em;
}
th {
  text-align: center;
}

#id-cantidad-prod {
  max-width: 40%;
  margin-right: 5px;

}
.td-cantidad {
  text-align: center;
}
.td-cantidad i {
  padding: 2px;
}

#tacho-tabla {
  color: #ff2929;
  font-size: 18px;
  padding: 3px;
  display: block;
  text-align: center;
}


.th-precio, .td-precio {
  display: none;
}

.titulo-total-right {
  text-align: right;
  font-size: 1.2rem;
  padding-top: 15px;
  padding-bottom: 15px;
}
#submit-siguiente, #submit-anterior {
  display: block;
  margin: 6px;
  height: 37px;
  width: 50%;
  min-width: 125px;
  max-width: 400px;
  padding: 5px;
  border: none;
  border-radius: 3px;
  background-color: rgb(31, 134, 182);
  color: white;
  font-weight: bolder;
}
.box-button-entrega {
  display: flex;
}