* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-register {
  width: 90%;
  margin: 0 auto;
}
.form-register {
  text-align: center;
  padding: 10px;
  background-color:rgb(226, 226, 226)
}
.titulo-register {
  text-align: center;
  margin: 10px;
}
.contenedores-register {
  margin: 15px;
}
.input-register1 {
  padding: 20px;
  height: 30px;
  text-align: center;
  border: none;
  border-radius: 5px;
  width: 65%;
  min-width: 250px;
}
.boton-register {
  width: 45%;
  margin-top: 12.5px;
  padding: 12px;
  border: none;
  border-radius: 3px;
  background-color: #039fd3;
  color: white;
  font-weight: bolder;
  min-width: 175px;
  
}