<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include("./partials/head", {title: "PC Gamer - página inexistente"}) %>
  </head>
  <body>
    <%- include("./partials/header") %>
    <main>
      <h1>Esta página no existe.</h1>
    </main>
    <%- include("./partials/footer") %>
  </body>
</html>